<div class="dashboard-container">
    <!-- Contenido principal, incluyendo el navbar -->
    <div class="main-content">
        <nav class="navbar">
            <a href="/lancelot/user/login">Login Usuario</a>
            <a href="/lancelot/user/register">Crear Usuario</a>
            <a href="/lancelot/company/login">Login Empresa</a>
            <a href="/lancelot/company/register">Crear Empresa</a>
        </nav>

        <!-- Contenido principal -->
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
